.movie {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 100%;
  font-size: 1.2rem;
}

.movie img {
  width: 85%;
  max-width: 85%;
  border-radius: 0.5rem;
  opacity: 1;
}

.movie img:hover {
  opacity: 0.8;
}

.movie a:hover {
  opacity: 0.8;
}

.movie a {
  text-align: start;
  width: 85%;
  text-decoration: none;
  margin: 1rem auto;
  margin-bottom: 2rem;
}
