.container {
  display: flex;
  justify-content: space-between;
  min-height: 30vh;
}

.container iframe {
  border-radius: 1rem;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.container iframe:hover {
  opacity: 1.2;
}

.arrowBox {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 6rem;
}

.arrow {
  width: 4.5rem;
  height: 4.5rem;
  opacity: 0.8;
}

.arrow:hover {
  opacity: 1;
}
